<div class="banner">
  <h3>DETAILS </h3>
  <%=image_tag("drink.png" , style: 'height: 50px; width: 50px; margin: 20px;') %>
</div>

<div class="show_title">
  <%= @cocktail.name  %>
</div>

<div class="card_big">
  <div class="cocktail_card">
      <%= cl_image_tag @cocktail.photo.key, height: 150, width: 150, crop: :fill %>
        <div class="cocktail_card_text">
          <p>Please find the detailed description with all ingredients below:</p>
          <ul class="">
            <% @cocktail.doses.each do |dose| %>
              <li class="">
                <p>Description: <%= dose.description %> - Ingredient: <%= dose.ingredient.name %>

                <%= link_to "🗑",
                            dose_path(dose.id),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %> </p>
              </li>
            <% end %>
          </ul>
        </div>
  </div>
  <%= link_to "+ New dose", new_cocktail_dose_path(@cocktail.id), style: "color: #5ACCB3; text-decoration: none;" %>
</div>





<div class="button">
  <%= link_to "List of Cocktails", cocktails_path,style: "color: white; text-decoration: none;"  %>
</div>
