<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- <img src="https://www.maxim.com/.image/t_share/MTUwODg5MTM1MDY0NzU0MDA5/cocktails-promo.jpg" style="height: 600px; width: 100%;"alt=""> -->
    </div>
    <%= yield %>


  <div class="footer">
    <div>
      <%= link_to image_tag("search.png", style:"width: 40px; height: 40px;"), cocktails_path %>
      <p>Search</p>
    </div>
    <div>
      <%= link_to image_tag("drink.png", style:"width: 50px; height: 50px;"), cocktails_path %>
    </div>
    <div>
      <%= link_to image_tag("heart.png", style:"width: 40px; height: 40px;"), cocktails_path %>
      <p>My Favs</p>
    </div>
  </div>

  </body>
</html>
