<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <h3>DASHBOARD</h3>
      <%=image_tag("drink.png" , style: 'height: 50px; width: 50px; margin: 20px;') %>
    </div>
  <!-- <img src="https://www.maxim.com/.image/t_share/MTUwODg5MTM1MDY0NzU0MDA5/cocktails-promo.jpg" style="height: 600px; width: 100%;"alt=""> -->
      <div class="button">
        <p>Add a cocktail</p>
      </div>

    </div>
    <%= yield %>


  </body>
</html>
